[general]
lookup_api_url=https://pubapi.netki.com/api/wallet_lookup
is_prod=true
log_path=/var/log
resolv_conf_path=/etc/resolv.conf
dnssec_root_key_path=/usr/local/etc/unbound/root.key

[namecoin]
use_api=false
enabled=true
host=namecoin.local
port=4242
user=billybob
password=1234567890
resolver_temp_path=/tmp